{% extends "base.html" %}

<!-- 扩展 CSS -->
{% block ext_css %}
<style>
    .item {
        background-color: transparent;
    }
    .follow {
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block content %}

<h1>个人信息</h1>
<hr>

<div class="jumbotron transparent-bg">
    <img src="{{ user.avatar }}" width="200px">
    <br>
    <br>

    <ul class="list-group list-group-flush">
        <li class="list-group-item item">
            昵称：{{ user.nickname }}
            {% if user.id != session.uid %}
                {% if followed %}
                <a class="btn btn-danger btn-xs" href="/user/follow?fid={{ user.id }}">取消关注</a>
                {% else %}
                <a class="btn btn-success btn-xs" href="/user/follow?fid={{ user.id }}">点击关注</a>
                {% endif %}
            {% endif %}

        </li>
        <li class="list-group-item item">性别：{{ '帅哥' if user.gender == 'male' else '美女' }}</li>
        <li class="list-group-item item">生日：{{ user.birthday }}</li>
        <li class="list-group-item item">城市：{{ user.city }}</li>
        <li class="list-group-item item">简介：{{ user.bio or "这家伙很懒，什么都没留下" }}</li>
        <li class="list-group-item item">创建日期：{{ user.created }}</li>
        <li class="list-group-item item">面部认证：
            <input id="unchecked" type="button" onclick="location.href='/user/take_face'" value="点击开始采集" name="face">
            <label id="checked" style="color: green;" >已认证</label>
        </li>
    </ul>
</div>
<script>
$(document).ready(function(){
         $.ajax({
             type: "POST",
             url: "http://127.0.0.1:5000/user/face_check",
             data: {},
             dataType: "json",
             success: function(data){
                 check = data.check
                        if (check == 0){
                              $('#unchecked').css('display','inline')
                              $('#checked').css('display','none')
                        }
                        else {
                            $('#checked').css('display','inline')
                            $('#unchecked').css('display','none')
                        }

                      },
             flase:function () {
                 alert('请求失败')
             }
         });
  });
</script>
{% endblock %}
